/*/////////// styles start ////////// */
@font-face{
    font-family: 'comingsoon';
    src: url('../fonts/ComingSoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
  margin: 30px;
  /* font-family: "Georgia", serif; */
  font-family: 'Coming Soon', cursive;
  line-height: 1.8em;
  font-size: 14px;
  color: #666;
}
#stage{ 
  background-color: #eee;
  border: 1px solid #c1c1c1;
  border-bottom: 0px;
  height:400px;
}
#content {
  margin: 0px 70px;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
img.body {
    position: relative; 
    bottom: 52.5%;
    margin-top: -128px; 
    z-index: 2;
} 
img.bg {
  z-index: 1;
  width:100%;
  height:100%;
}

  /* ///// BACKGROUND SWATCHES styles ////// */
  #swatchesArea img {
    width: 20px;
    height: 20px;
  }
  /* individual links for background thumbs */
    #swatchesArea a {
    display: block;
    float: left;
    border: 1px solid #999;
    margin: 2px 11px 15px 2px;
    width: 20px;
    height:20px;
    position:relative;
    text-decoration: none;
  }
  #swatchesArea { 
    /* position: absolute; 
    top: 270px;
    width: 240px;
    padding: 0px 5px; */
    float: left;
    clear: left;
    width: 155px;
    margin-top: -144px;
    padding: 0 0 0 10px;
    box-sizing: border-box;
    position:relative;
  }
  #bodyArea, #swatchesArea, .ui-tabs-panel{
    border: 1px solid #888;
    /* background: #eee; */
    background: #fff;
    width: 155px;
  }
  #expandBtn button{
    position: relative;
    right:11px;
    color: #666;
    font-size: 13px;
    background: #ddd;
    text-decoration: none;
    outline: 0;
    width:155px;
    font-family: 'Coming Soon', cursive; 
  }

.hairItems img{
  padding-right:10px;
}
.hairItems {
  background-color: #eee;
  border: 1px solid #c1c1c1;
  width:100%;
  float:left;
}
.hairDrop{ 
  width: 76px; 
  height:36px; 
  background-color:blue; 
  opacity: 0;
  position:absolute;
  top:37.3%; left:50%;
  margin-left: -37px; 
  margin-top: -125px;
}
.hairDrop.hovered {
  opacity:.3;
  z-index: 999;
}
#container {
  height:400px;
}

.shirtItems img{
  padding-right:10px;
}
.shirtItems {
  background-color: #eee;
  border: 1px solid #c1c1c1;
  border-top:1px solid transparent;
  width:100%;
  float:left;
}
.shirtDrop{ 
  width: 80px; 
  height:68px; 
  background-color:blue; 
  opacity: 0;
  position:absolute;
  top:46.6%; left:50%;
  margin-left: -39px; 
  margin-top: -125px;
}
.shirtDrop.hovered {
  opacity:.3;
  z-index: 999;
}

#resetBtn button{
    position: relative;
    right:11px;
    color: #666;
    font-size: 13px;
    background: #ddd;
    text-decoration: none;
    outline: 0;
    width:155px;
    font-family: 'Coming Soon', cursive; 
}
/*/////////// styles end ////////// */